html, body, #app {
    scrollbar-width: thin;
    scrollbar-color: blue orange;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
  }


/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 9px;
}

*::-webkit-scrollbar-track {
  background: rgb(68 64 60);
}

*::-webkit-scrollbar-thumb {
  background-color: #E83A3B;
  border-radius: 20px;
  border: 3px solid rgb(68 64 60);
}

* { 
  cursor: url("@/assets/crosshair.svg"), auto;
}